## **Trabajo Práctico Individual n° 2: Aprendizaje Supervisado**
____
__Universidad Tecnológica Nacional, Buenos Aires__\
__Ingeniería Industrial__\
__Ciencia de Datos - Curso I5521__
____

- Nombre: Luciano
- Apellido: CHodaszewski
- Legajo: 1679405

En este trabajo práctico aplicaremos algunas técnicas aprendidas para el aprendizaje automático supervisado.

Utilizaremos un dataset de airbnb donde buscaremos predecir el precio de las noches de cada hogar en funcion de algunas variables.

#### Variables:
- Unnamed: 0: Variable de contador de registros (no será utilizada en nuetro análisis)
- neighbourhood: Barrio donde se encuentra ubicado la casa.
- room_type: Tipo de hogar en alquiler.
- price: Precio por noche.
- minimum_nights: Cantidad minimas de noches que pueden alquilar el hogar.
- number_of_reviews: Cantidad de reviews
- reviews_per_month: Tasa de reviews que tienen por mes
- calculated_host_listings_count: Cantidad de hogares ofrecidos por el host.
- availability_365: Cantidad de dias que se encuentra en alquiler el hogar

## **Objetivos del trabajo practico**
- resolver los requisitos que se detallan en las proximas celdas
- dejar comentarios # en cada linea de codigo que se agregue
- fecha limite de entrega: 13 de Octubre 2022 a las 23h59

In [1]:
## Importo librerías de maniupulación de datos
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
## Importo librerías de Aprendizaje automático
n_jobs : 1
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR, LinearSVR
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

##### **Objetivo 1**
Lo primero que deberan hacer será importar
- el dataset bajo en nombre "london"
- corroborar que lo hayamos cargado correctamente.

In [3]:
london = pd.read_csv("C:/Users/lucia/Documents/UTN_2022/data_science/TP2_airbnb_london.csv")

In [4]:
london.head()

,Unnamed: 0,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,0,Haringey,Private room,35,1,131,1.71,4,262
1,1,Ealing,Private room,70,2,2,0.07,6,62
2,2,Islington,Private room,45,1,14,0.14,2,364
3,5,Tower Hamlets,Entire home/apt,102,5,7,0.07,56,295
4,6,Barnet,Private room,29,5,114,1.13,3,285

##### **Objetivo 2**
Ahora imprimir también las dimensiones del dataset y eliminar la variable "Unnamed:0" del dataset.
Volver a guardar el dataset sin esta variable bajo el nombre "london"

In [5]:
print("El dataset tiene " + str(london.shape[1]) + " columnas y " + str(london.shape[0]) + " filas.")

El dataset tiene 9 columnas y 51827 filas.

In [6]:
london = london.iloc[:, 1:9]
london.head()

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Haringey,Private room,35,1,131,1.71,4,262
1,Ealing,Private room,70,2,2,0.07,6,62
2,Islington,Private room,45,1,14,0.14,2,364
3,Tower Hamlets,Entire home/apt,102,5,7,0.07,56,295
4,Barnet,Private room,29,5,114,1.13,3,285

##### **Objetivo 3**
Corroborar que el dataset no cuenta con valores nulos, si los hubiera llenarlos todos con 0.

In [7]:
london.isnull().any()

neighbourhood                     False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
reviews_per_month                 False
calculated_host_listings_count    False
availability_365                  False
dtype: bool

##### **Objetivo 4**
Mostrar el tipo de dato para las variables "neighbourhood" y "room_type".

In [8]:
london['neighbourhood'].dtypes

dtype('O')

In [9]:
london['room_type'].dtypes

dtype('O')

##### **Objetivo 5**
Generar las variables dummies para estas dos variables categóricas y unirlas al dataset london.

In [10]:
## Genero las dummies para la variable neighbourhood, dentro de la variable neigh_dummies.
neigh_dummies = pd.get_dummies(london['neighbourhood'])

Imprimir las dimensiones y primeras lineas de estas dummies

In [11]:
neigh_dummies.shape

(51827, 33)

In [12]:
neigh_dummies.head()

,Barking and Dagenham,Barnet,Bexley,Brent,Bromley,Camden,City of London,Croydon,Ealing,Enfield,...,Merton,Newham,Redbridge,Richmond upon Thames,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,Westminster
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
## Genero las dummies para la variable room_type, dentro de la variable room_dummies.
room_dummies = pd.get_dummies(london['room_type'])

Imprimir las dimensiones y primeras lineas de estas dummies

In [14]:
room_dummies.shape

(51827, 3)

In [15]:
room_dummies.head()

   Entire home/apt  Private room  Shared room
0                0             1            0
1                0             1            0
2                0             1            0
3                1             0            0
4                0             1            0

Joinear las variables dummies al dataset

In [16]:
london = pd.concat([london, room_dummies, neigh_dummies],axis=1)

In [17]:
london.head()

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Entire home/apt,Private room,...,Merton,Newham,Redbridge,Richmond upon Thames,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,Westminster
0,Haringey,Private room,35,1,131,1.71,4,262,0,1,...,0,0,0,0,0,0,0,0,0,0
1,Ealing,Private room,70,2,2,0.07,6,62,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Islington,Private room,45,1,14,0.14,2,364,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Tower Hamlets,Entire home/apt,102,5,7,0.07,56,295,1,0,...,0,0,0,0,0,0,1,0,0,0
4,Barnet,Private room,29,5,114,1.13,3,285,0,1,...,0,0,0,0,0,0,0,0,0,0

Tomamos las primeras 10.000 filas para nuestro modelo

In [18]:
london = london.iloc[0:5000]

##### Dividiremos nuestro dataset en la variable dependiente "y" (label o etiqueta) y las variables independientes "x"

In [19]:
y = np.array(london[["price"]])
x = london.drop(['price','neighbourhood','room_type'], axis=1)

In [20]:
x.shape

(5000, 41)

In [21]:
y.shape

(5000, 1)

##### **Objetivo 7**

Dividir el dataset entre Train y Test, tomar un test_size del 30%.

In [22]:
xtrain, xtest, ytrain, ytest = train_test_split(x.values, y, test_size=0.3, random_state=4)

In [23]:
xtrain.shape

(3500, 41)

In [24]:
xtest.shape

(1500, 41)

In [25]:
xtrain_nd = xtrain[:, 0:5]
xtrain_nd.shape

(3500, 5)

In [26]:
xtrain_d = xtrain[:, 5:]
xtrain_d.shape

(3500, 36)

In [27]:
xtest_nd = xtest[:, 0:5]
xtest_nd.shape

(1500, 5)

In [28]:
xtest_d = xtest[:, 5:]
xtest_d.shape

(1500, 36)

##### **Objetivo 8**
Con el StandardScaler generado en la linea siguiente, realizar el transform para el xtrain y xtest guardandolos en nuevas variables llamadas "xtrain_scal" y "xtest_scal".

In [29]:
scaler = preprocessing.StandardScaler().fit(xtrain_nd)

In [30]:
xtrain_scal = scaler.transform(xtrain_nd)

In [31]:
xtest_scal = scaler.transform(xtest_nd)

In [32]:
xtrain_scal = np.concatenate([xtrain_scal, xtrain_d],axis=1)
xtest_scal = np.concatenate([xtest_scal, xtest_d],axis=1)

##### **Objetivo 9**
Crear un modelo lineal y entrenarlo para nuestro dataset.

Obtener las predicciones y el "mean_squared_error" para el test set.

In [33]:
def lin_reg(x,y):
  n, m = x.shape
  I = np.identity(m)
  w = np.dot(np.dot(np.linalg.inv(np.dot(x.T, x)), x.T), y)
  return w

In [34]:
weights = lin_reg(xtrain_scal, ytrain)

In [35]:
np.linalg.norm(weights, ord = 2)

1318.6079818763146

In [37]:
yhat= np.dot(xtest_scal, np.asarray(weights))

In [38]:
rmse = np.sqrt(np.mean(np.square(ytest - yhat)))
rmse

260.9245500112082

##### **Objetivo 10**
Crear un SVM Regressor y un GridSearch para realizar la búsqueda de hiperparámetros.

Asignar dos posibles valores para el parámetro "kernel", y tres posibles valores para "C" y "gamma".

Setear al parámetro "refit" en True y hacer 5 CrossValidation.

In [39]:
svreg = SVR()

In [40]:
param_svreg = {'kernel':('linear', 'rbf'), 'C':[1, 10, 100], 'gamma':[0.1, 1, 10]}

In [41]:
regressor_svr = GridSearchCV(estimator = svreg, param_grid = param_svreg, 
                      cv = 5, n_jobs = -1, verbose = True, refit = True)

In [42]:
regressor_svr.fit(xtrain_scal, ytrain.ravel())

Fitting 5 folds for each of 18 candidates, totalling 90 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   14.7s
[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed:   42.4s finished

GridSearchCV(cv=5, estimator=SVR(), n_jobs=-1,
             param_grid={'C': [1, 10, 100], 'gamma': [0.1, 1, 10],
                         'kernel': ('linear', 'rbf')},
             verbose=True)

##### **Objetivo 11**

Mostrar cuales fueron los mejores hiperparámetros y para estos obtener el mean_squared_error en el test set.

In [43]:
regressor_svr.best_params_

{'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}

In [44]:
regressor_svr.best_score_

0.49874191093334713

In [45]:
yhat = regressor_svr.predict(xtest_scal)
yhat

array([ 35.77834446,  42.64468972, 103.25102963, ...,  72.69980446,
        88.5070945 , 132.7191187 ])

In [46]:
np.sqrt(mean_squared_error(ytest, yhat))

38.03032872890829

##### **Objetivo 12**
Repetir el objetivo 10 pero ahora seteando nuevos valores para los hiperparámetros mencionados con el objetivo de mejorar las predicciones.

Cuales son los mejores hiperparámetros ahora?
Obtenemos una mejora en las predicciones?
Mostrar los resultados.

In [47]:
svreg = SVR()

In [48]:
param_svreg = {'kernel':('linear', 'rbf'), 'C':[100, 125, 150], 'gamma':[0.05, 0.1, 0.15]}

In [49]:
regressor_svr = GridSearchCV(estimator = svreg, param_grid = param_svreg, 
                      cv = 5, n_jobs = -1, verbose = True, refit = True)

In [50]:
regressor_svr.fit(xtrain_scal, ytrain.ravel())

Fitting 5 folds for each of 18 candidates, totalling 90 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   30.2s
[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed:  1.1min finished

GridSearchCV(cv=5, estimator=SVR(), n_jobs=-1,
             param_grid={'C': [100, 125, 150], 'gamma': [0.05, 0.1, 0.15],
                         'kernel': ('linear', 'rbf')},
             verbose=True)

In [51]:
regressor_svr.best_params_

{'C': 125, 'gamma': 0.05, 'kernel': 'rbf'}

In [52]:
regressor_svr.best_score_

0.503909273659932

In [53]:
yhat = regressor_svr.predict(xtest_scal)
yhat

array([ 36.79046483,  46.09729685, 109.81503417, ...,  76.36819929,
        96.34405593, 127.78862044])

In [54]:
np.sqrt(mean_squared_error(ytest, yhat))

37.8697100408207